/* Colors */
:root {
    --light-green: #02714a;
    --dark-green: #023830;
    --light-brown: #6C391A;
    --dark-brown: #4F2A13;
    --grey: #1C2321;
    --magenta: #A93B52;
    --blue: #3D5670;
    --white: #E4DDD3;
    --black: #1A1518;
}

body {
    background: var(--grey);
}

#title {
    color: var(--white);
    font-size: 2em;
    padding: 20px;
    text-align: center;
}

#app {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#game {
    margin: 0 30px 30px 30px;
    background-color: var(--white);
    border-radius: 10px;
    border: 8px solid var(--black);
    position: relative;
    flex-grow: 100;
}
