/* Colors */
:root {
    --light-green: #02714a;
    --dark-green: #023830;
    --light-brown: #6C391A;
    --dark-brown: #4F2A13;
    --grey: #1C2321;
    --magenta: #A93B52;
    --magenta-dark: #7b2b3c;
    --blue: #3D5670;
    --white: #E4DDD3;
    --black: #1A1518;
}

* {
    box-sizing: border-box;
}

body {
    background: white;
}

#app {
    height: 100vh;
    /*align-items: center;*/
}

#title {
    color: var(--black);
    font-size: 2em;
    text-align: center;
    height: 50px;
}

#game {
    padding: 20px;
    height: calc(100% - 50px);
}

/*
@media (max-width: 600px) {
    #title {
        display: none;
    }

    #game {
        margin: 0;
        border: 0;
        border-radius: 0;
    }
}*/

button {
    border: none;
    border-radius: 5px;
    padding: 5px;
    font-size: 1em;
}
button:hover {
    cursor: pointer;
}

input {
    color: #34495e;
    border: 2px solid #34495e;
    border-radius: 5px;
    padding: 5px;
    width: 100%;
    font-size: 150%;
    background-color: #ecf0f1;
    text-align: center;
}