.Card_card {
    /*position: absolute;*/
    /*perspective: 1000px;*/
    left: 50%;
    top: 50%;
    /*transform: translateX(-50%) translateY(-50%);*/
}

.Card_front {
    background-image: url('../assets/card_front_sprite.png');
}
.Card_back {
    background-image: url('../assets/card_back_sprite.png');
}
.Card_card, .Card_front, .Card_back {
    width: 50px;
    height: 75px;
}
.Card_front, .Card_back {
    /*backface-visibility: hidden;*/
    /*position: absolute;*/
    background-size: 100%;
}
.Card_flipper-enter-active, .Card_flipper-leave-active {
    transition: 0.6s;
}
.Card_flipper-enter, .Card_flipper-leave-to {
    transform: rotateY(180deg);
    transform-style: preserve-3d;
}
.Card_flipper-leave, .Card_flipper-enter-to {
    transform: rotateY(0deg);
    transform-style: preserve-3d;
}
