.Card_card {
    /*position: absolute;*/
    /*perspective: 1000px;*/
    left: 50%;
    top: 50%;
    /*transform: translateX(-50%) translateY(-50%);*/
}

.Card_front {
    background-image: url('../assets/card_front_sprite.png');
}
.Card_back {
    background-image: url('../assets/card_back_sprite.png');
}
.Card_card, .Card_front, .Card_back {
    width: 50px;
    height: 75px;
}
.Card_front, .Card_back {
    /*backface-visibility: hidden;*/
    /*position: absolute;*/
    background-size: 100%;
}
