#chatContainer {
    display: flex;
    flex-direction: column;
    padding: 20px;
    max-width: 400px;
}

#chatMessages {
    flex-grow: 100;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

#chatMessages .message {
    bottom: 0;
    -ms-word-break: break-all;
    word-break: break-all;
}

#chatMessages .message .message-from{
    font-weight: bold;
}

#chatInputContainer {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
}

#chatInputContainer input {
    text-align: left;
    width: 100%;
    margin-right: 5px;
}

