#handsimage {
    width: 500px;
}
.btn {
    border-radius: 50%;
    margin: 10px;
    border: none;
    background-size: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 35px;
    height: 35px;
    cursor: pointer;
}
.btn:focus {
    outline: none;
}
#btnFold {
    background-image:url('../assets/cancel.png');
    background-color: #e74c3c;
    border: 3px solid #e74c3c;
}
#btnCheck {
    background-image:url('../assets/checkmark.png');
    background-color: #2ecc71;
    border: 3px solid #2ecc71;
}
#btnRaise {
    background-image:url('../assets/raise.png');
    background-color: #1abc9c;
    border: 3px solid #1abc9c;
}
.card {
    margin: 10px;
    width: 100px;
    height: 150px;
    background-size: 100%;
    background-image: url('../assets/card_front_sprite.png');
}
#mySeat {
    display: flex;
    justify-content: center;
    align-items: center;
}
#myCoins {
    font-weight: bold;
    margin: 10px;
}
#chipImage {
    width: 19px;
    height: 19px;
    vertical-align: text-bottom;
    margin-right: 5px;
}
