#playground {
    position: relative;
}

#tableContainer {
    position: relative;
    padding: 50px;
}

#playerContainer {
    top: 20%;
    left: 0;
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#table {
    border: 20px solid var(--dark-brown);
    border-radius: 200px;
    background: var(--light-green);
    height: 400px;
}

#actionButtons {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

#myCards {
    position: absolute;
    left: calc(50% - 50px);
    bottom: 40px;
    display: flex;
    flex-direction: row;
}

#myCards >*:first-child {
    margin-right: 5px;
}

#roundInfo {
    position: absolute;
}

#roundInfo p {
    margin: 0;
    font-size: 1.2em;
}

#actionButtons button {
    margin-right: 5px;
}