#title {
    width: 100%;
    color: #34495e;
    font-size: 200%;
    padding: 20px;
    box-sizing: border-box;
    margin: 0;
    text-align: center;
}
#playground {
    width: 1200px;
    height: 400px;
    background-color: #27ae60;
    border-radius: 210px;
    border: 10px solid #34495e;
    margin: auto;
    margin-top: 20px;
    position: relative;
}
