.thPlayerTile {
    position: relative;
    border: 1px solid #b3b3b3;
    grid-column-gap: 5px;
    max-width: 200px;
    min-width: 100px;
    background: white;
    padding: 10px;
}

.thPlayerTile .blind {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    color: var(--magenta);
}

.thPlayerTile .name {
    font-weight: bold;
    margin: 0;
}

.thPlayerTile .money {
    width: 100%;
    text-align: left;
    margin: 0;
}

.thPlayerTile .bet {
    width: 100%;
    text-align: right;
    margin: 0;
}

.thPlayerTile .status {
    width: 100%;
    text-align: center;
    margin: 0;
}

.thPlayerTile .cards {
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.thPlayerTile .cards > *:first-child {
    margin-right: 5px;
}